@import './main';

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  &__big-blur {
    position: absolute;
    top: 0;
    right: 0;
    width: 791px;
    height: 793px;
    top: 0;
    right: 0;
    border-radius: 50%;
    transform: translate(51.58%, -39.85%);
    background: $blurVioletColor;
    opacity: 0.8;
    filter: blur(103px);

    @include respond-below(sm) {
      top: unset;
      bottom: 0;
      width: 912px;
      height: 912px;
      transform: translate(-401px, -325px);
    }
  }

  &__small-blur {
    position: absolute;
    width: 399px;
    height: 400px;
    top: 0;
    left: 0;
    background: $blurVioletColor;
    opacity: 0.5;
    filter: blur(103px);
    transform: translate(-24.25%, -1.75%);

    @include respond-below(sm) {
      display: none;
    }
  }
}
.header {
  width: 100%;
  height: 124px;

  @include respond-below(s) {
    height: 88px;
  }

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond-below(xs) {
      padding: 0px 16px 0px 30px;
    }
  }

  &__logo {
    width: 182px;
    height: 56px;
    object-fit: contain;
    object-position: center;

    @include respond-below(xs) {
      width: 101px;
      height: 32px;
    }
  }

  &__logo-img {
    width: 100%;
    height: 100%;
  }

  &__info-list {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__info-list-item {
    width: 141px;
    height: 40px;
    margin: 0px 0px 0px 18px;
    background: $violetColor;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond-below(xs) {
      width: 84px;
      height: 24px;
      margin: 0px 0px 0px 6px;
      border-radius: 6px;

      &:first-child {
        width: 88px;
      }
    }
  }

  &__calendar-icon {
    width: 15px;
    height: 15px;
    margin: 0px 6px 0px 0px;
    @include respond-below(xs) {
      width: 12.55px;
      height: 12.55px;
      margin: 0px 3.56px 0px 0px;
    }
  }

  &__calendar-text,
  &__duration-text {
    font-size: 14px;
    font-weight: 600;
    line-height: 100%;

    @include respond-below(xs) {
      font-size: 11px;
    }
  }

  &__duration-icon {
    width: 17px;
    height: 17px;
    margin: 0px 6px 0px 0px;

    @include respond-below(xs) {
      width: 12.41px;
      height: 12.41px;
      margin: 0px 3.56px 0px 0px;
    }
  }
}
.main {
  position: relative;
  width: 100%;

  &__icons {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__container {
    width: 100%;
    height: 100%;
    margin-top: 82px;
    margin-bottom: 140px;
    display: grid;
    grid-template:
      'title form' auto
      'info-list form' auto/ 46.01% 39.44%;
    gap: 35px 14.55%;

    @include respond-below(md) {
      grid-template:
        'title form' auto
        'info-list form' auto/ 1fr 1fr;
      gap: 42px 10%;
    }

    @include respond-below(sm) {
      margin-bottom: 59px;
      grid-template:
        'title' auto
        'form' auto
        'info-list' auto/ 1fr;
      gap: 42px 10%;
    }

    @include respond-below(xs) {
      margin-top: 4px;
      gap: 22px 10%;
    }
  }

  &__title-block {
    margin-top: 10px;
    grid-area: title;

    @include respond-below(xs) {
      margin-top: 0;
    }
  }

  &__form-block {
    grid-area: form;
  }

  &__info-list {
    grid-area: info-list;
  }
}
.icons {
  width: 100%;
  height: 100%;

  & > div {
    position: absolute;

    &:not(:last-child) {
      @include respond-below(md) {
        display: none;
      }
    }

    img {
      position: absolute;
    }

    & > div {
      position: absolute;
      border-radius: 50%;
    }
  }

  &__html {
    top: 117px;
    right: 1.8%;
    width: 116px;
    height: 105px;
  }

  &__html-img {
    top: 0;
    left: 0;
    width: 106px;
    height: 106px;
  }

  &__html-point {
    top: 20.45px;
    right: 4px;
    width: 8px;
    height: 8px;
    background: $orangeColor;
  }

  &__css {
    top: 214px;
    right: 10%;
    width: 78px;
    height: 105px;
  }

  &__css-img {
    bottom: 0;
    left: 0;
    width: 87px;
    height: 102px;
  }

  &__css-point {
    width: 6px;
    height: 6px;
    top: 0;
    right: 0;
    background: $blueCssColor;
  }

  &__js {
    top: 280px;
    right: 1.5%;
    width: 94px;
    height: 87px;
  }

  &__js-img {
    bottom: 0;
    left: 0;
    width: 80px;
    height: 87px;
  }

  &__js-point {
    width: 8px;
    height: 8px;
    top: 20px;
    right: 0;
    background: $yellowColor;
  }

  &__sublime {
    top: 347px;
    right: 10.8%;
    width: 63px;
    height: 79px;
  }

  &__sublime-img {
    bottom: 0;
    left: 0;
    width: 66px;
    height: 65px;
  }

  &__sublime-point {
    width: 6px;
    height: 6px;
    top: 0;
    right: 0;
    background: $yellowHotColor;
  }

  &__vscode {
    top: 423px;
    right: 3.9%;
    width: 88px;
    height: 67px;
  }

  &__vscode-img {
    top: 0;
    left: 0;
    width: 78px;
    height: 78px;
  }

  &__vscode-point {
    width: 6px;
    height: 6px;
    bottom: 0;
    right: 0;
    background: $blueVSCodeColor;
  }

  &__footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 83px;

    img {
      width: 100%;
      object-fit: contain;
      object-position: center bottom;
    }
  }
}
.title-block {
  @include respond-below(sm) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__label {
    width: 119px;
    height: 32px;
    border-radius: 5px;
    background: $blueColor;
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond-below(xs) {
      width: 89px;
      height: 24px;
      border-radius: 3px;
    }
  }

  &__label-icon {
    width: 19px;
    height: 19px;
    margin: 0px 6px 0px 0px;

    img {
      width: 100%;
      height: 100%;
    }

    @include respond-below(xs) {
      width: 14px;
      height: 14px;
    }
  }

  &__label-text {
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;

    @include respond-below(xs) {
      font-size: 12px;
    }
  }

  &__title {
    margin: 0px 0px 27px 0px;
    font-weight: 600;
    font-size: clamp(20px, 1.6vw, 22px);
    line-height: 108%;

    @include respond-below(md) {
      font-size: 20px;
    }

    @include respond-below(sm) {
      margin: 0px 0px 19px 0px;
      font-size: 18px;
    }

    @include respond-below(xs) {
      font-size: 15px;
    }
  }

  &__first-title-part {
    margin-bottom: 3px;
    display: block;
    font-weight: 800;
    font-size: clamp(53px, 7vw, 77px);
    line-height: 118%;
    text-transform: uppercase;
    color: $redColor;

    @include respond-below(xs) {
      margin: 4px 0px 0px 0px;
      line-height: 108%;
    }
  }

  &__second-title-part {
    position: relative;
    padding: 0px 12px 0px 12px;
    margin: 0px 13px 0px 0px;
    display: inline-block;
    font-weight: 800;
    font-size: 24px;
    line-height: 161%;
    text-transform: uppercase;
    color: $whiteColor;
    transform: translate(0px, 2px);

    @include respond-between(sm, md) {
      display: block;
      width: max-content;
      margin: 0 0 18px 0;
    }

    @include respond-below(xs) {
      margin: 0px 8px 0px 0px;
      padding: 2px 11px 0px 11px;
      font-size: 16px;
      line-height: 165%;
    }

    span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $redColor;
      border-radius: 5px;
      transform: rotate(-3.51deg);
      z-index: -1;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 148%;

    @include respond-below(md) {
      font-size: 16px;
    }

    @include respond-below(xs) {
      font-size: 14px;
    }

    span {
      font-weight: 500;
    }
  }
}
.form-block {
  padding: 50px 58px 50px 58px;
  background: $darkVioletColor;
  border-radius: 10px;
  align-self: center;

  @include respond-below(md) {
    padding: 50px 16.11% 50px 16.11%;
  }

  @include respond-below(xs) {
    padding: 40px 21px 40px 21px;
  }

  &__title {
    width: 100%;
    margin: 0px 0px 20px 0px;
    font-weight: 700;
    font-size: 22px;
    line-height: 118%;
    text-align: center;

    @include respond-below(sm) {
      max-width: 248px;
      margin: 0px auto 19px auto;
      font-size: 20px;
    }

    @include respond-below(xs) {
      max-width: 236px;
    }

    span {
      color: $redColor;
    }
  }

  input {
    width: 100%;
    height: 51px;
    margin: 0px 0px 14px 0px;
    padding: 0px 22px 0px 22px;
    border-radius: 4.48px;
    background: $blackInputColor;
    @include hidePlaceholder;

    @include respond-below(sm) {
      height: 46px;
      padding: 0px 26px 0px 26px;
      font-size: 12px;
    }
  }

  button {
    position: relative;
    width: 100%;
    height: 51px;
    margin: 0px 0px 20px 0px;
    border-radius: 4.48px;
    overflow: hidden;
    background: unset;
    font-size: 15px;
    font-weight: 700;
    line-height: 160%;
    z-index: 1;

    @include respond-below(xs) {
      max-width: 222px;
      height: 46px;
      margin: 0px auto 18px auto;
      display: block;
      font-size: 14px;
    }

    &:hover {
      &::before {
        left: 0;
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -200%;
      width: 300%;
      height: 100%;
      background: linear-gradient(
        to left,
        $redColor 34%,
        $redColor,
        $brightBlueColor 66%,
        $brightBlueColor 100%
      );
      transition: left 0.5s ease-out;
      z-index: -1;
    }
  }

  &__text {
    max-width: 198px;
    margin: 0px auto 0px auto;
    font-weight: 500;
    line-height: 150%;
    text-align: center;
    color: $whiteColor05;

    @include respond-below(xs) {
      max-width: 180px;
      font-size: 11px;
    }

    a {
      text-decoration: underline;
      color: $whiteColor05;
    }
  }
}
.info-list {
  display: flex;
  flex-direction: column;

  @include respond-below(sm) {
    max-width: 300px;
    margin: 0 auto;
    flex-direction: column-reverse;
  }

  @include respond-below(xxs) {
    max-width: 224px;
  }

  &__item {
    width: 100%;
    margin: 16px 0px 0px 0px;
    display: flex;

    &:first-child {
      .info-list {
        &__item-img {
          width: 51px;
          height: 53px;
          object-fit: contain;
          object-position: left center;
        }

        &__item-title {
          margin: 2.56px 0px 0px 0px;
          font-size: 13px;
          text-transform: uppercase;

          @include respond-below(xs) {
            margin: 2.56px 0px 6px 0px;
            font-size: 14px;
            line-height: 100%;
          }

          span {
            color: $brightBlueColor;
          }
        }

        &__item-text {
          max-width: 310px;
        }
      }
    }

    &:nth-child(2) {
      .info-list {
        &__item-img {
          width: 51px;
          object-fit: contain;
        }

        &__item-title {
          // margin: 1.4px 0px 0px 0px;
        }

        &__item-text-box {
          max-width: 210px;
        }
      }
    }
  }

  &__item-img-box {
    width: 51px;
    margin: 0px 17px 0px 0px;

    @include respond-below(xs) {
      margin: 0px 12px 0px 0px;
    }
  }

  &__item-img {
    height: 49px;
  }

  &__item-text-box {
  }

  &__item-title {
    font-weight: 700;
    line-height: 140%;

    @include respond-below(xs) {
      font-size: 14px;
    }

    span {
      color: $brightBlueColor;
    }
  }

  &__item-text {
    line-height: 160%;
  }
}
